# Python
*.pyc
*.pyo
__pycache__/
*.py[cod]

# Virtual Environment
.venv/

# Environment Variables
.env

guild_id.json
anti_nuke.py
anti_predator.py
anti_spam.py
bot_info.py

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
logs/
